# Service for testing tollkeeper. Deploys a simple website protected by tollkeeper
services:
  proxy_test:
    build: 
      context: "../"
      dockerfile: "./proxy_test/Dockerfile" 
    ports: 
      - 80:9000 # Proxy
      - 9100:9100 # Payment API
      - 8080:80 # Direct access to nginx (circumvents tollkeeper)
    volumes:
      - ../app/templates/:/usr/local/bin/app/templates
