html {
  font-size: 32px
}

body {
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #858375;
  height: 100vh;
  width: 100%;
  font-family: ComicShanns;
}

.main {
  flex-grow: 2
}

footer {
  color: #CFCFCF;
  background-color: #393E42;
}

a {
  color: #CFCFCF;
}
