html {
  font-size: 24px;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #1A1A1A;
  background-color: #858375;
  height: 100vh;
  width: 100%;
  font-family: ComicShanns, "Comic Sans MS", "Comic Sans";
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 2
}

footer {
  color: #CFCFCF;
  background-color: #393E42;
}

a {
  color: #CFCFCF;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.param {
  text-align: right;
}

.value {
  text-align: left;
}
