<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href='http://localhost:8080/challenge.css?{{app_version}}' />
  <style>
    @font-face {
      font-family: ComicShanns;
      src: url('{{api_base_url}}/ComicShannsMonoNerdFont-Regular.otf')
    }

    @font-face {
      font-family: ComicShanns;
      font-weight: bold;
      src: url('{{api_base_url}}/ComicShannsMonoNerdFont-Bold.otf')
    }
  </style>
</head>

<body>
  <div class="main">
    <h1>Guarding {{toll.recipient.destination}}</h1>
    <p>Calculating stamp... <span id="stamp"></span></p>
    <h2>Hashcash (V1)</h2>
    {{#with toll.challenge}}
    <p>bits: {{bits}}</p>
    <p>resource: {{resource}}</p>
    <p>ext: {{ext}}</p>
    {{/with}}

    <div id='toll' style="display: none;">
      {{json this}}
    </div>
  </div>
  <footer>
    <p>
      Guarded by <a href="https://gitea.ascendise.ch/ascendise/tollkeeper">tollkeeper</a>
    </p>
    <p><a href="https://localhost:8080/LICENSE?{{app_version}}">LICENSE</a></p>
  </footer>
  <script src='http://localhost:8080/challenge.js?{{app_version}}'></script>
</body>

</html>
