<!DOCTYPE html>
<html>

<head>
  <link rel='preload' href='{{asset ComicShannsMonoNerdFont-Regular.woff2 const}}' as="font" crossorigin />
  <link rel='preload' href='{{asset ComicShannsMonoNerdFont-Bold.woff2 const}}' as="font" crossorigin />
  <link rel='stylesheet' href='{{asset challenge.css}}' />
  <style>
    @font-face {
      font-family: ComicShanns;
      src: url('{{asset ComicShannsMonoNerdFont-Regular.woff2 const}}');
      font-display: swap;
    }

    @font-face {
      font-family: ComicShanns;
      font-weight: bold;
      src: url('{{asset ComicShannsMonoNerdFont-Bold.woff2 const}}');
      font-display: swap;
    }
  </style>
</head>

<body>
  <div class='main'>
    <h1>Guarding {{toll.recipient.destination}}</h1>
    <p>Calculating stamp... </p>
    <p id='stamp'></p>
    <h2>Hashcash (V1)</h2>
    {{#with toll.challenge}}
    <table>
      <tbody>
        <tr>
          <td class='param'><b>bits: </b></td>
          <td class='value'>{{bits}}</td>
        </tr>
        <tr>
          <td class='param'><b>resource: </b></td>
          <td class='value'>{{resource}}</td>
        </tr>
        <tr>
          <td class='param'><b>ext: </b></td>
          <td class='value'>{{ext}}</td>
        </tr>
      </tbody>
    </table>
    {{/with}}
    <div id='toll' style='display: none;'>
      {{json this}}
    </div>
  </div>
  <footer>
    <p>
      Guarded by <a href='https://gitea.ascendise.ch/ascendise/tollkeeper'>tollkeeper</a>
    </p>
    <p><a href='{{asset LICENSE}}'>LICENSE</a></p>
  </footer>
  <script src='{{asset challenge.js}}'></script>
</body>

</html>
